/* Base Application Styles */
@font-face {
  font-family: 'icon-font';
  src:
    url('../fonts/icomoon.eot'), /* IE9 兼容模式 */
    url('../fonts/icomoon.svg') format('svg'),
    url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  color: #999999;
}

html, body {
  background-color: #333333;

}

#app {
  width: 100%;
  height: 100%;
}

#wrapper {
  width: 70%;
  margin: 0 auto;
  height: 100%;
}

.song-list-wrapper {
  position: relative;
  width: 780px;
  top: 100px;

}

.song-info-wrapper {
  position: relative;
  top: -100px;
  left: 780px;
}

li {
  list-style: none;
  float: left;
  padding: 10px;
  width: 160px;
  height: 20px;
  line-height: 26px;
  text-align: center;
}

ul {
  display: inline-block;
  border-top: 1px solid #999999;
  text-align: center;
}
/* SongInfo */
.album-pic img {
  border-radius: 50%;
  width: 200px;
}

/* Player */
.player-wrapper{
  width: 70%;
  position: absolute;
  bottom: 30px;
}
.left-content{
  float: left;
  width: 10%;
}

.right-content{
  float: left;
  margin: 10px 0 0 30px;
}
.progress-bar{
  float: left;
  width: 64%;
  margin: 34px 0 0 70px;

}
.progress{
  height: 2px;
  background-color: #7a7a7a;
}
.progress-btn{
  border-radius: 50%;
  background-color: #999999;
  width: 10px;
  height: 10px;
  margin: -7px 0 0 0;

}

.icon-font{
  font-family: icon-font;
  margin: 0 8px 0 0;
  font-size: 34px;
  cursor: pointer;
}
.pre-song::before{
  content: '\ea1a';
}
.play::before{
  content: '\ea15';
  font-size: 46px;
}
.pause::before{
  content: '\ea16';
  font-size: 46px;
}
.next-song::before{
  content: '\ea1b';
}
.order::before{
  content: '\e9bd'; /* 默认顺序播放 */
  font-size: 30px;
}
.shuffle::before{
  content: 'ea30';
  font-size: 30px;
}
.volume-control::before{
  content: '\ea26';
  font-size: 30px;
}
